body{
    background: url(../img/body-background.jpg) 100% fixed;
    background-size: cover;
    margin: auto;
}
header{
    background-color: black;
    width: 100%;
}
.layout-wrap{
    width: 80%;
    margin: auto;
    padding: 1%;

}
.search-box{
    float:right;
    margin-top: 15px;
}

.layout-wrap > a >img {
    margin-top: 15px;
}


.notifications{
    background-color: #E5E5E5;
    padding: 0.5%;
}
.page-body {
    background-color: rgba(0, 0, 0, 0.3);
}

nav{
    width: 100%;
    text-align: center;
    
}
.nav-section {
   width: 29%;
    display: inline-block;
    /* float: left; */
    /* margin-right: 3.5%; */
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    /* min-width: 150px; */
    margin-top: 10px;
    /*height: 150px;*/

}
.last-nav{
    float:right;
/*  background: url("../img/icons/actions-help.png") left 50% top 70px no-repeat black;
*/
}
.second-nav
{
    /*background: url("../img/icons/action-report-top.png") left 50% top 70px no-repeat black;
*/
}
.first-nav
{
      /* background: url("../img/icons/action-report-new.png") left 50% top 70px no-repeat black;
    */float: left;
}
/*.first-menu{
    bottom: -44px;
    position: relative;
}
.second-menu,.third-menu{
    bottom: -62px;
    position: relative;
    }
*/

.menu{
    margin-top: 4.5em;
}
.menu-caption{
    background-color: #E5E5E5;
    color: black;
    height: 38px;
    text-align: left;
    line-height: 38px;

}
.menu-caption:after{
    float: right;
    content: "";
   
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin: 1em;
    margin-top: -2.5em;
    margin-right: 7%;
}
.nav-section:hover .menu-caption:after,.nav-section:focus .menu-caption:after{
    transform: rotate(180deg);
}

.menu-caption > p{
    overflow: hidden;
    height: 30px;

}
.nav-section>p{
    height: 30px;
}
.action-list{
    width: 23.2%;
    background-color: white;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
}


.nav-section:hover{
    background-color: rgb(38,38,38);
}
.action-list > li {
    background: white;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 2%;
    font-size: 13px;
    text-align: left;
    border:none;

}
.action-list > li >a{
 text-decoration: none;
 color:black;
}
.action-list > li > a:hover{
    text-decoration: underline;
}
.nav-section:hover .action-list{
    width: 23.2%;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
}
.tabs{
    width: 100%;
    height: 800px;
    margin-top:15px; 
}
.tabs-options{
    width: 100%;
    padding: 0px;
    height: 30px;
    margin: 0;
}
.tabs-options >li>a{
    color: white;
    text-decoration: none;
    display: block;
}
.tabs-options >li {
    display: inline-block;
    width:22%;
    float:left;
    background-color: rgb(100,100,100);
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    height: 30px;
}

/*.first-option , .sec-option , .therd-option {
    margin-right:4%;
}*/

.option{
    margin-right:4%;
}
.option:last-child{
    margin-right: 0;
}
.tabs-content{
    width: 100%;
    background: #E5E5E5;
    height: 770px;
}
.quick-reports-options{
    float: right;
    margin: 1%;
}
.adress{
    float: left;
    margin: 1%;
    width: 17%;
    height: 27px
}


.options-putton {
    background-color: #ebebeb;
    background-image: url("../img/icons/settings.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
}
.expand-link >img {
  float: right;
   padding: 15px 15px 8px 15px;
}
#quick-reports {
    height: 360px;
}
.reports-form {
    margin-top: 60px;
    position: absolute;
    width: 80%;
    box-shadow: 0 4px 7px 2px rgba(50, 50, 50, 0.8);
    height: 300px;
    background-color: white;
}
.folder-content {
    height: 600px;
}
.fieldset {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: #dcdada;
    height: 40px;
    border-radius: 5px;
} 
.reportnumber {
    padding-left: 5%;
    width: 10%;
    line-height: 40px;
}

.reportinput {
    width: 65%;
}
.reportlabel {
    width: 10%;
    padding-right: 5%;
}

.name {
    display: inline;
    left: 25%;
    position: absolute;
    width: 30%;
    line-height: 40px;
}
.url {
     display: inline;
    position: absolute;
    width: 30%;
    left: 65%;
    float: right;
  line-height: 40px;
}
.cancel-save {

    float: right;
    padding: 2%;

}
.hidden{
    display: none;
}
.active-tab{
    background-color:#E5E5E5 !important;
}
.active-tab > a{
    color: black !important;
}
#quickreports-cancel {
    padding-right: 8px;
    width: 60px;
    height: 20px;
    border: none;
    background-color: white;
}
.save-button {
    background-color: black;
    border: none;
    color: white;
    height: 25px;
    width: 63px;
    border-radius: 2px;
}
iframe {
    height: 715px;
    width: 100%;
}