body{
	background: url(../img/body-background.jpg) 100% fixed;
    background-size: cover;
	margin: auto;
}
header{
	background-color: black;
	width: 100%;
}
.layout-wrap{
	width: 80%;
	margin: auto;
	padding: 1%;

}
.search-box{
	float:right;
	margin-top: 15px;
}

.layout-wrap > a >img {
	margin-top: 15px;
}


.notifications{
	background-color: #E5E5E5;
	padding: 0.5%;
}
.page-body {
    background-color: rgba(0, 0, 0, 0.3);
}

nav{
	width: 100%;
	text-align: center;
	
}
.nav-section {
   width: 29%;
    display: inline-block;
    /* float: left; */
    /* margin-right: 3.5%; */
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    /* min-width: 150px; */
    margin-top: 10px;
    /*height: 150px;*/

}
.last-nav{
	float:right;
	background: url("../img/icons/actions-help.png") left 50% top 70px no-repeat black;
}
.second-nav
{
	background: url("../img/icons/action-report-top.png") left 50% top 70px no-repeat black;
}
.first-nav
{
	   background: url("../img/icons/action-report-new.png") left 50% top 70px no-repeat black;
	float: left;
}
/*.first-menu{
	bottom: -44px;
    position: relative;
}
.second-menu,.third-menu{
	bottom: -62px;
    position: relative;
	}
*/

.menu{
	margin-top: 4.5em;
}
.menu-caption{
	background-color: #E5E5E5;
	color: black;
	height: 38px;
	text-align: left;
	line-height: 38px;

}
.menu-caption > p{
	        overflow: hidden;
	        height: 30px;
}
.nav-section>p{
	height: 30px;
}
.action-list{
	width: 23.2%;
    background-color: white;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
}
.nav-section:hover{
	background-color: rgb(38,38,38);
}

.nav-section:hover .action-list{
	width: 23.2%;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
}
.tabs{
	width: 100%;
	height: 500px;
	margin-top:15px; 
}
.tabs-options{
	width: 100%;
	padding: 0px;
	height: 30px;
    margin: 0;
}
.tabs-options >li>a{
	color: white;
	text-decoration: none;
	display: block;
}
.tabs-options >li {
	display: inline-block;
	width:22%;
	float:left;
	background-color: rgb(100,100,100);
	line-height: 30px;
	text-align: center;
	overflow: hidden;
    height: 30px;
}

.first-option , .sec-option , .therd-option {
	margin-right:4%;
}
.tabs-content{
    width: 100%;
    background: #E5E5E5;
    height: 500px;
}
.quick-reports-options{
	float: right;
	margin: 1%;
}
.adress{
	float: left;
    margin: 1%;
    width: 17%;
    height: 27px
}


.options-putton {
    background-color: #ebebeb;
    background-image: url("../img/icons/settings.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
}
.expand-link >img {
  float: right;
   padding: 15px 15px 8px 15px;
}
.reports-form {
    margin-top: 60px;
    position: absolute;
    width: 80%;
}
.fieldset {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
} 
.reportname {
    display: inline;
    margin: auto;
}
.reporturl {
    display: inline;
    float: right;
}
.cancel-save {
    float: right;
    margin-right: 3%;
}
.hidden{
	display: none;
}